<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="strCon"
            connectionString="Data Source=MSI\MSI;Initial Catalog=QuanLyDiem1.0.3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SerKhoaSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="SerKhoaSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerDiemSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerDiemSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerTaikhoanSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerTaikhoanSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerMonhocSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerMonhocSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerGiangvienSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerGiangvienSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerSinhvienSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerSinhvienSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerLopHPSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerLopHPSoap1" maxReceivedMessageSize="2147483647" />
				<binding name="SerLopHCSoap" maxReceivedMessageSize="2147483647">
					<security mode="Transport" />
				</binding>
				<binding name="SerLopHCSoap1" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44322/BusinessServices/SerKhoa.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerKhoaSoap"
                contract="SerKhoa.SerKhoaSoap" name="SerKhoaSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerDiem.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerDiemSoap"
                contract="SerDiem.SerDiemSoap" name="SerDiemSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerTaikhoan.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerTaikhoanSoap"
                contract="SerTaikhoan.SerTaikhoanSoap" name="SerTaikhoanSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerMonhoc.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerMonhocSoap"
                contract="SerMonhoc.SerMonhocSoap" name="SerMonhocSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerGiangvien.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerGiangvienSoap"
                contract="SerGiangvien.SerGiangvienSoap" name="SerGiangvienSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerSinhvien.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerSinhvienSoap"
                contract="SerSinhvien.SerSinhvienSoap" name="SerSinhvienSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerLopHP.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerLopHPSoap"
                contract="SerLopHP.SerLopHPSoap" name="SerLopHPSoap" />
            <endpoint address="https://localhost:44322/BusinessServices/SerLopHC.asmx"
                binding="basicHttpBinding" bindingConfiguration="SerLopHCSoap"
                contract="SerLopHC.SerLopHCSoap" name="SerLopHCSoap" />
        </client>
    </system.serviceModel>
</configuration>